<md-content md-theme="grey" layout-gt-sm="row" md-padding" >
<md-input-container>
    <label>Auth Username</label>
    <input ng-model="authUsername">
</md-input-container>
<md-input-container>
    <label>Auth Password</label>
    <input type="password" ng-model="authPassword">
</md-input-container>
<md-button ng-click="saveAuth()">Save</md-button>
<p></p>
 <md-button class="md-fab md-warn md-fab-bottom-right" ng-click="clear()">
    <md-icon class="material-icons">delete</md-icon>
</md-button>
</md-content>

Get User Info
<md-content md-theme="dark" title="Find User" class="md-padding" layout="row" layout-sm="column">

    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>

    <md-button class="md-raised md-warn" ng-click="getUser()">Find</md-button>


</md-content>

<md-content class="md-padding autoScroll" >
    <md-input-container md-no-float class="md-block">
        <label>Email </label>
        <md-button ng-click="copied()" ngclipboard data-clipboard-target="#foo"> Copy email
            <md-icon class="material-icons">assignment</md-icon>
        </md-button>
        <input ng-model="myData.Email" id="foo">

    </md-input-container>


    <div layout layout-sm="column">
        <md-input-container flex>
            <label>First Name</label>
            <input ng-model="myData.FirstName"
                   placeholder="Placeholder text">
        </md-input-container>

        <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="myData.LastName">
        </md-input-container>

    </div>


    <div layout layout-sm="column">
            <md-input-container flex="80">
                <label>Networks</label>
                <input ng-model="userNetworks">
            </md-input-container>
        </div>

    <div layout layout-sm="column">
        <md-input-container flex="80">
            <label>Last Login</label>
            <input ng-model="lastlogin" disabled>
        </md-input-container>
    </div>

        <div layout-sm="column" >
          <label>{{deviceslabel}}</label>
            <div style="max-height: 200px; overflow-y: scroll">
            <md-chips ng-model="devices" readonly="true">
                     <md-chip> </md-chip>
            </md-chips>
            </div>
        </div>

</md-content>


<p></p>

<div class="label">Search For User/Last Name</div>

<p></p>

<md-content md-theme="dark" title="Search User" class="md-padding" layout="row" layout-sm="column">

    <md-input-container>
        <label>Username / Last Name Contains</label>
        <input ng-model="query">
    </md-input-container>

    <md-content layout="column">
        <md-checkbox ng-model="cbusername">Search by Username Only</md-checkbox>
        <md-checkbox ng-model="cblastname">Search by Last Name Only</md-checkbox>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="getQuery()">Search</md-button>


    <div layout-sm="column">
        <div ng-show="cbusername">
        <label>{{querylabel}}</label>
        <div style="max-height: 200px; overflow-y: scroll">
            <md-chips ng-model="items" readonly="true">
                <md-chip> </md-chip>
            </md-chips>
            </div>
            </div>
    <div ng-show="cblastname">
        <label>{{querynamelabel}}</label>
        <div style="max-height: 200px; overflow-y: scroll">
            <md-chips ng-model="nameitems" readonly="true">
                <md-chip> </md-chip>
            </md-chips>
            </div>
        </div>
        </div>
    </div>

</md-content>

<p></p>

<div class="label">Activate User</div>

<p></p>

<md-content md-theme="dark" title="Activate User" class="md-padding" layout="row" layout-sm="column">



    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input id="foo" ng-model="email">
    </md-input-container>


    <md-button ng-click="activateUser()">Activate</md-button>
</md-content>

<p></p>

<div class="label">Change Password</div>

<p></p>

<md-content md-theme="dark" title="Change Password" class="md-padding" layout="row" layout-sm="column">

    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>
    <md-input-container>
        <label>New Password</label>
        <input ng-model="newpass" type="{{inputType}}">
    </md-input-container>
    <md-input-container>
        <label>Confirm Password</label>
        <input ng-model="newpass1" type="{{inputType}}">
    </md-input-container>

    <md-button ng-click="changePass()" ng-disabled="newpass != newpass1">Change Password</md-button>


    <md-button ng-click="hideShowPassword()">{{pass}}</md-button>

</md-content>

<p></p>

<div class="label" >Send Reset Password Email</div>

<p></p>

<md-content md-theme="dark" title="Reset Password" class="md-padding" layout="row" layout-sm="column">

    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>


    <md-button ng-click="resetPassword()">Send Password Change Email</md-button>

</md-content>

<p></p>

<div class="label">Change Email</div>

<p></p>
<md-content md-theme="dark" title="Change Email" class="md-padding" layout="row" layout-sm="column">

    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="email" type="email">
    </md-input-container>

    <md-button ng-click="changeEmail()">Change Email</md-button>
</md-content>




